if mode
    if (mode === no-build)
        include ../apps/shop/index.html
    else if (mode === build)
        include ../apps/shop/build/es5-bundled/index.html
else
    include ../apps/shop/build/es5-bundled/index.html
    
   
    